.buttonGroup {
  display: flex;
  gap: 8px;
}

.button {
  height: 32px !important;
  width: 32px !important;
  padding: 0 !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.disabled {
  background: #999999;
  color: black;;
}

.downloadButton {
  svg {
    width: 24px !important;
    height: 24px;
  }
}

.bigSizeBtn {
  padding: 10px 17.5px !important;
  font-family: SB Sans Display;
font-size: 12px;
font-weight: 600;
line-height: 16px;
text-align: left;
 
  width: 100% !important;
  margin-bottom: 8px;
}

.overlay {
  z-index: 40;
}
